
header{
	color: white;
	background-color:black;
}

body{
	background-color: yellow;
	color: white;
}

p{
	color:black;
	text-align:
    center font-size:25px;
}

h1{
	text-align: center;
	color:black ;
    font-size: 50px 
}


.imgDown{
	width:700px ;
	margin-left:22% ; 
}
nav a{
	margin:20px;
	font-size:20px;
	text-decoration:none;
	color:lightblue;
	border:3px solid navy;
	border-radius:10px;
	background-color:navy;
	padding:1px;
}
h2{
	color:black ;
}
ul{
	color: black;
}
nav {
	display: flex;
	justify-content: center;
}

nav img {
	width: 40px;
	height: 40px;
	margin-top: 15px;
}
.ee {
	width: 250px;
}